// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Sizer Form

.sizer-button {
	width:100%;
}

.clear-link {
	font-size:0.9em;
}

// Jean container

.jean-container {
	padding-top:10px;
}

.bottom-border {
	border-color: #585858;
}

.jean-brand {
	font-weight:bold;
	font-size:1.1em;
	display:block;
	text-align:center;
	margin-top:3px;
}

.jean-model {
	font-style: italic;
	display:block;
	text-align:center;
	margin-top:3px;
}

.jean-fit {
	display:block;
	text-align:center;
	margin-top:3px;
}

.jean-price {
	font-size:1.2em;
	font-weight:lighter;
	display:block;
	text-align:center;
	margin-top:10px;
	margin-bottom:-15px;
}

// MODALS

.reveal-modal {
	width:700px;
	left:60%;
}

.modal-image {
	width:250px;
}

.modal-brand {
	font-size:1.7em;
	font-weight: bold;
}

.modal-model {
	font-size:1.4em;
}

.modal-fit {
	font-size:1.4em;
	font-weight:lighter;
}

.modal-price {
	font-size:1.5em;
	font-weight:lighter;
}

.modal-disclaimer {
	font-size: 0.8em;
	font-style: italic;
	color: #A0A0A0;
}
